//use Roboto font
html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body input, body button, body select, body textarea {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#top-navbar {
  background-color: #015c98;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#top-navbar-links {
  height: 20px;
  width: 100%;
  display: block;
}

#top-navbar-links a {
  color: white;
}
