<div id="footer">
    <p>Copyright © 2018 Johnson Controls. All Rights Reserved</p>
    <p id="notices">
        <a href="http://www.johnsoncontrols.com/legal/privacy">Privacy Notice</a>
        <span>-</span>
        <a href="http://www.tyco.com/terms-of-use">Terms of Use</a>
        <span>-</span>
        <a href="https://www.tycosecurityproducts.com/AccessibleServicePolicy.aspx">Accessibility</a>
        <span>-</span>
        <a href="https://support.swhouse.com/#/modern-slavery">Modern Slavery</a>
    </p>
</div>
