<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" rel="stylesheet" type="text/css"  />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      },
      "static": "true",
      "position": "top",
      "content": {
        "message": "This site uses cookies to offer you a better browsing experience. By continuing to navigate through this site or by clicking Approve, you consent to the use of cookies on your device as described in our ",
        "dismiss": "Approve",
        "link": "Privacy Notice",
        "href": "http://www.johnsoncontrols.com/legal/privacy"
      }
    })
  });
</script>
